<div class="row">
    <div class="col-sm-5 col-xs-7">
        <a href="{{ url('game_view', { 'uuid' : game.uuid }) }}">{{ game.name }}</a><br>
    </div>
    <div class="col-sm-4 hidden-xs">
        <p>
            {{ 'app.adminpage.texts.height' | trans({ '%height%': game.height}) }},
            {{ 'app.adminpage.texts.width' | trans({ '%width%': game.width }) }},
            {{ 'app.adminpage.texts.players' | transchoice(game.players | length, { '%players%' : game.players | length }) }}
        </p>
        <p>
            {{ 'app.adminpage.texts.last-updated' | trans }}
            {% if game.lastUpdatedAt is null %}
                {{ 'app.adminpage.texts.unknown' | trans }}
            {% else %}
                {{ game.lastUpdatedAt | ago }}
            {% endif %}
        </p>
    </div>
    <div class="col-sm-3 col-xs-5 text-right">
        <a  target="_blank"
            class="btn btn-xs btn-info js-btn-view-details"
            title="{{ 'app.adminpage.buttons.view-details' | trans }}"
            href="{{ url('game_view_details', { 'uuid': game.uuid }) }}">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
        <a  target="_blank"
            class="btn btn-xs btn-info js-btn-view-maze"
            title="{{ 'app.adminpage.buttons.view-maze' | trans }}"
            href="{{ url('game_view_maze', { 'uuid': game.uuid }) }}">
            <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
        </a>
        <a  target="_blank"
            class="btn btn-xs btn-info js-btn-view-panels"
            title="{{ 'app.adminpage.buttons.view-panels' | trans }}"
            href="{{ url('game_view_panels', { 'uuid': game.uuid }) }}">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        </a>
        <button
            class="btn btn-xs btn-danger js-btn-remove"
            data-url="{{ url('game_remove', { 'uuid': game.uuid }) }}"
            title="{{ 'app.adminpage.buttons.remove' | trans }}"
            data-question="{{ 'app.adminpage.texts.ask-remove' | trans({ '%uuid%' : game.uuid }) }}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </div>
</div>

