{% extends 'base.html.twig' %}

{% block title %}{{ 'app.adminpage.title' | trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                {{ 'app.adminpage.title' | trans }}
                <small>
                    {{ 'app.global.title' | trans }}
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="well">
                    <p>
                        <small class="text-primary">{{ 'app.adminpage.texts.process-id' | trans }}:</small>
                    </p>
                    <p>
                        <strong class="lead">{{ processId | default('app.adminpage.texts.not-running' | trans) }}</strong>
                    </p>
                </div>

                <div class="well">
                    <p>
                        <small class="text-info">
                            {{ 'app.adminpage.texts.daemon-actions' | trans }}:
                        </small>
                    </p>

                    <div class="btn-group-vertical">
                        <a  {% if processId %}
                                disabled="disabled"
                            {% endif %}
                            class="btn btn-success js-btn-start"
                            href="{{ url('admin_start') }}">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            {{ 'app.adminpage.buttons.start' | trans }}
                        </a>

                        <a  {% if not processId %}
                                disabled="disabled"
                            {% endif %}
                            class="btn btn-danger js-btn-stop"
                            href="{{ url('admin_stop') }}">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                            {{ 'app.adminpage.buttons.stop' | trans }}
                        </a>

                        <a  {% if not processId %}
                                disabled="disabled"
                            {% endif %}
                            class="btn btn-warning js-btn-restart"
                            href="{{ url('admin_restart') }}">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            {{ 'app.adminpage.buttons.restart' | trans }}
                        </a>
                    </div>

                    <br>
                    <br>

                    <p>
                        <small class="text-info">
                            {{ 'app.adminpage.texts.other-actions' | trans }}:
                        </small>
                    </p>

                    <div class="btn-group-vertical">
                        <a  class="btn btn-default"
                            href="{{ url('game_create') }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            {{ 'app.adminpage.buttons.create' | trans }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{ 'app.adminpage.texts.games.not-started' | trans }}
                    </div>
                    <div class="panel-body panel-list-striped">
                        {% for game in games if not game.playing and not game.finished %}
                            {% include ':game:adminGame.html.twig' with { 'game' : game }  %}
                        {% else %}
                            {{ 'app.adminpage.texts.games.none' | trans }}
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        {{ 'app.adminpage.texts.games.running' | trans }}
                    </div>
                    <div class="panel-body panel-list-striped">
                        {% for game in games if game.playing %}
                            {% include ':game:adminGame.html.twig' with { 'game' : game }  %}
                        {% else %}
                            {{ 'app.adminpage.texts.games.none' | trans }}
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        {{ 'app.adminpage.texts.games.finished' | trans }}
                    </div>
                    <div class="panel-body panel-list-striped">
                        {% for game in games if game.finished %}
                            {% include ':game:adminGame.html.twig' with { 'game' : game }  %}
                        {% else %}
                            {{ 'app.adminpage.texts.games.none' | trans }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more_javascripts %}
    <script src="{{ asset('js/remove.js') }}"></script>
{% endblock %}
