<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <p>
                        {{ 'app.mazepage.texts.status' | trans }}:
                        <strong class="text-info">{{ 'app.mazepage.texts.status-text' | transchoice(game.status) }}</strong>
                    </p>
                    <p>
                        {{ 'app.mazepage.texts.moves' | trans }}:
                        <strong class="text-info">{{ game.moves }}</strong>
                    </p>
                    <p>
                        {{ 'app.mazepage.texts.players' | trans }}:
                        <strong class="text-info">{{ game.players | length }}</strong>
                    </p>
                    <p>
                        {{ 'app.mazepage.texts.ghosts' | trans }}:
                        <strong class="text-info">{{ game.ghosts | length }}</strong>
                    </p>
                    <p>
                        {{ 'app.mazepage.texts.min-ghosts' | trans }}:
                        <strong class="text-info">{{ game.minGhosts }}</strong>
                    </p>
                    <p>
                        {{ 'app.mazepage.texts.ghosts-rate' | trans }}:
                        <strong class="text-info">{{ game.ghostRate }}</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ 'app.mazepage.texts.winners' | trans }}
                    </h3>
                </div>
                <div class="panel-body">
                    {% for player in game.classification if player.winner %}
                        <p>
                            {{ game.playerNum(player) }}.-
                            <span class="text-success">
                                {{ player.name }}
                            </span>
                        </p>
                    {% else %}
                        {{ 'app.mazepage.texts.no-winners' | trans }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ 'app.mazepage.texts.dead' | trans }}
                    </h3>
                </div>
                <div class="panel-body">
                    {% for player in game.classification | reverse if player.dead %}
                        <p>
                            {{ game.playerNum(player) }}.-
                            <span class="text-danger">
                                {{ player.name }}
                            </span>
                        </p>
                    {% else %}
                        {{ 'app.mazepage.texts.no-dead' | trans }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ 'app.mazepage.texts.player-list' | trans }}
                    </h3>
                </div>
                <div class="panel-body">
                    {% for player in game.classification if not player.winner and not player.dead %}
                        <p>
                            {{ game.playerNum(player) }}.-
                            <span class="text-info">
                                {{ player.name }}
                            </span>
                        </p>
                    {% else %}
                        {{ 'app.mazepage.texts.no-players' | trans }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
