{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 js-maze" data-url="{{ url('game_refresh', { 'uuid': game.uuid }) }}">
            {% include ':game:maze.html.twig' with { 'game': game, 'maze': maze } %}
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="maze-buttons">
                    <button
                        type="button"
                        {% if game.status != constant('AppBundle\\Domain\\Entity\\Game\\Game::STATUS_NOT_STARTED') %}
                            disabled="disabled"
                        {% endif %}
                        class="btn btn-success js-btn-start"
                        data-url="{{ url('game_start', { 'uuid': game.uuid }) }}">
                        {{ 'app.gamepage.buttons.start' | trans }}
                    </button>

                    <button
                        type="button"
                        {% if game.status != constant('AppBundle\\Domain\\Entity\\Game\\Game::STATUS_RUNNING') %}
                            disabled="disabled"
                        {% endif %}
                        class="btn btn-danger js-btn-stop"
                        data-url="{{ url('game_stop', { 'uuid': game.uuid }) }}">
                        {{ 'app.gamepage.buttons.stop' | trans }}
                    </button>

                    <button
                        type="button"
                        class="btn btn-warning js-btn-reset"
                        data-url="{{ url('game_reset', { 'uuid': game.uuid }) }}">
                        {{ 'app.gamepage.buttons.reset' | trans }}
                    </button>

                    <div class="btn-group">
                        <button
                            type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            {{ 'app.gamepage.buttons.download' | trans }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for player in game.players %}
                                <li>
                                    <a href="{{ url('player_download', {'guuid': game.uuid, 'puuid': player.uuid }) }}">
                                        {{ player.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block more_javascripts %}
    <script language="JavaScript">

        (function (win, $) {

            'use strict';

            var $maze = $('.js-maze'),
                $btnStart = $('.js-btn-start'),
                $btnStop = $('.js-btn-stop'),
                $btnReset = $('.js-btn-reset'),
                refreshUrl = $maze.data('url'),
                startUrl = $btnStart.data('url'),
                stopUrl = $btnStop.data('url'),
                resetUrl = $btnReset.data('url');

            /**
             * configureButtons()
             */
            var configureButtons = function() {
                $btnStart.click(function(ev) {
                    ev.preventDefault();
                    startPlaying();
                });

                $btnStop.click(function(ev) {
                    ev.preventDefault();
                    stopPlaying();
                });

                $btnReset.click(function(ev) {
                    ev.preventDefault();
                    resetPlaying();
                });
            };

            /**
             * startPlaying()
             */
            var startPlaying = function () {
                $.get(startUrl)
                    .done(function() {
                        $btnStart.attr('disabled', 'disabled');
                        $btnStop.attr('disabled', null);
                        refreshMaze();
                    });
            };

            /**
             * stopPlaying()
             */
            var stopPlaying = function () {
                $.get(stopUrl)
                    .done(function() {
                        $btnStart.attr('disabled', null);
                        $btnStop.attr('disabled', 'disabled');
                        refreshMaze();
                    });
            };

            /**
             * resetPlaying()
             */
            var resetPlaying = function () {
                $.get(resetUrl)
                    .done(function() {
                        $btnStart.attr('disabled', null);
                        $btnStop.attr('disabled', 'disabled');
                        refreshMaze();
                    });
            };

            /**
             * startTimer()
             */
            var startTimer = function () {
                if ($btnStop.attr('disabled') != 'disabled') {
                    win.setTimeout(refreshMaze, 1000);
                }
            };

            /**
             * refreshMaze()
             */
            var refreshMaze = function () {
                $.get(refreshUrl)
                    .done(function(data) {
                        $maze.html(data.html);
                        if (data.playing) {
                            $btnStop.attr('disabled', null);
                            startTimer();
                        } else {
                            $btnStop.attr('disabled', 'disabled');
                            if (data.finished) {
                                $btnStart.attr('disabled', 'disabled');
                            }
                        }
                    });
            };

            /**
             * init()
             */
            var init = function() {
                configureButtons();
                startTimer();
            };

            /**
             * Main process
             */
            init();

            return {
                init: init
            };

        }(window, jQuery));
    </script>
{% endblock %}
