{% extends 'base.html.twig' %}

{% block title %}{{ 'app.title.index' | trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>
                {{ 'app.title.maze-scape' | trans }}
                <small>
                    {{ 'app.title.global' | trans }}
                </small>
            </h1>

            <div class="row">
                <div class="col-md-3">
                    <img
                        src="{{ asset('images/labyrinth.png') }}"
                        alt="{{ 'app.title.maze-scape' | trans }}"
                        title="{{ 'app.title.maze-scape' | trans }}"
                        class="img-responsive"
                    />
                </div>
                <div class="col-md-9">
                    <p>
                        {{ 'app.homepage.upper-text.1' | trans | raw}}
                        {{ 'app.homepage.upper-text.2' | trans | raw }}
                    </p>
                    <p>
                        {{ 'app.homepage.lower-text.1' | trans | raw }}
                        {{ 'app.homepage.lower-text.2' | trans | raw }}
                        {{ 'app.homepage.lower-text.3' | trans | raw }}
                    </p>
                    <p><a class="btn btn-primary btn-lg" href="{{ url('rules') }}" role="button">
                        {{ 'app.homepage.rules' | trans | raw }} &raquo;
                    </a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_stylesheets %}
{% endblock %}
