{% extends 'base.html.twig' %}

{% block title %}{{ 'app.homepage.title' | trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>
                {{ 'app.global.name' | trans }}
                <small>
                    {{ 'app.global.title' | trans }}
                </small>
            </h1>

            <div class="row">
                <div class="col-md-3">
                    <img
                        src="{{ asset('images/labyrinth.png') }}"
                        alt="{{ 'app.global.name' | trans }}"
                        title="{{ 'app.global.name' | trans }}"
                        class="img-responsive"
                    />
                </div>
                <div class="col-md-9">
                    <p>
                        {{ 'app.homepage.upper-text.1' | trans | raw}}
                        {{ 'app.homepage.upper-text.2' | trans | raw }}
                    </p>
                    <p>
                        {{ 'app.homepage.lower-text.1' | trans | raw }}
                        {{ 'app.homepage.lower-text.2' | trans | raw }}
                        {{ 'app.homepage.lower-text.3' | trans | raw }}
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ url('rules') }}" role="button">
                            {{ 'app.homepage.rules' | trans }} &#x2714;
                        </a>
                        <a class="btn btn-success btn-lg" href="{{ url('game_create') }}" role="button">
                            {{ 'app.homepage.create' | trans }} &#x272A;
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
